@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,500;0,700;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    block-size: border-box;
    font-family: Raleway, sans-serif;
}

body {
    /*background-color: #f8f9fa;*/
    font-weight: 200;
}


h1 {
    color: #2f2fbe;
    font-weight: 300;
}

h2 {
    color: #006eff;
    font-weight: 400;
}